<div class="header">
  <app-menu></app-menu>
</div>
<div class="middle">
  <form class="card " #form="ngForm"(ngSubmit)="adminaddclick()">
    <div class="card-header"><span>管理者＆教員追加  説明文導入</span></div>
    <table class=" table card-body">
      <tr>
        <th>姓:</th>
        <td>
          <input type="text" [(ngModel)]="userprofile.firstname"
                   name="firstname" required minlength="1" #firstname="ngModel"/>
          <br/>
          <span [hidden]="!firstname.errors?.required">入力必須です。</span>
          <span [hidden]="!firstname.errors?.minlength">1文字以上入力してください。</span>
        </td>

      </tr>
      <tr>
        <th>名:</th>
        <td>
          <input type="text" [(ngModel)]="userprofile.lastname"
                   name="lastname" required minlength="1" #lastname="ngModel"/>
          <br/>
          <span [hidden]="!lastname.errors?.required" >入力必須です。</span>
          <span [hidden]="!lastname.errors?.minlength">１文字以上入力してください。</span>
        </td>
      </tr>
      <tr>
        <th>姓(よみがな)</th>
        <td>
          <input type="text" [(ngModel)]="userprofile.firstkananame"
                   name="firstkananame" required minlength="1" #firstkananame="ngModel"/>
          <br/>
          <span [hidden]="!firstkananame.errors?.required">入力必須です。</span>
          <span [hidden]="!firstkananame.errors?.minlength">１文字以上入力して下さい。</span>
        </td>
      </tr>
      <tr>
        <th>名(よみがな)</th>
        <td>
          <input type="text" [(ngModel)]="userprofile.lastkananame"
                   name="lastkananame" required minlength="1" #lastkananame="ngModel"/>
          <br/>
          <span [hidden]="!lastkananame.errors?.required">入力必須です。</span>
          <span [hidden]="!lastkananame.errors?.minlength">1文字以上入力してください。</span>
        </td>
      </tr>
      <tr>
        <th>年齢:</th>
        <td><input type="number" [(ngModel)]="userprofile.age" name="age"/></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          <input type="email" [(ngModel)]="userprofile.email"
                   name="email" required minlength="3" email #email="ngModel"/>
          <br/>
          <span [hidden]="!email.errors?.required">入力必須です。</span>
          <span [hidden]="!email.errors?.minlength">３文字以上入力してください。</span>
          <span [hidden]="!email.errors?.email">メールエラーメッセージ</span>
        </td>
      </tr>
      <tr>
        <th>パスワード:</th>
        <td>
          <input type="radio" name="passradio" [(ngModel)]="autopasswordflg"
                 [value]=false checked="checked"/>自動生成
          <input type="radio" name="passradio" [(ngModel)]="autopasswordflg"
                 [value]=true />手動入力
          <br/><br/>
          <div *ngIf="autopasswordflg">
            <input type="password" [(ngModel)]="userprofile.password" name="password"/>
          </div>
        </td>
      </tr>

    </table>
    <div class="card-footer">
      <span>{{responceresult}}</span>
      <input type="submit" value="登録" [disabled]="form.invalid" class="btn btn-primary" />
    </div>
  </form>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
