<div class="header">
  <app-header ></app-header>
</div>
<div class="middle">
  <div class="card">
    <div class="card-header">
      説明文導入
    </div>
    <table class="table">
      <tr>
        <th>名前</th>
        <td><input type="text" value="" name="name" ></td>
      </tr>
      <tr>
        <th>色</th>
        <td><input type="color" value="" name="color"/></td>
      </tr>
    </table>
    <div class="card-footer">
      <input type="submit" value="完了" class="btn btn-primary" />
      <a href="/listsubject" class="btn btn-danger">キャンセル</a>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
