<div class="header">
  <app-header></app-header>
</div>
<div class="middle ">
  <div class="card">
    <div class="card-header"> 説明欄</div>
    <div class="main card-body">
      <input type="button"  class="singlebtn button btn btn-primary"
               value="ノート閲覧" (click)="looknoteclick()" />
      <br/>
      <input type="button"  class="doublebtn button btn btn-danger"
               value="ノート投稿" (click)="submitnoteclick()"/>
      <input type="button" value="ノート管理"
             class=" doublebtn btn btn-info" (click)="manegementnoteclick()" />
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
