<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand" ><span>shareclassnote管理画面</span></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu"
  aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarmenu">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" id="#groupdropdown" aria-haspopup="true">
              グループ
            </a>
            <div class="dropdown-menu" aria-labelledby="groupdropdown">
              <a class="nav-link" href="/shareadminpage/groupadd">グループ追加</a>
              <a class="nav-link" href="/shareadminpage/grouplist">グループ一覧</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button"
               data-toggle="dropdown" id="#useraddlist" aria-haspopup="true"
               aria-expanded="false">利用者</a>
            <div class="dropdown-menu" aria-labelledby="useraddlist">
              <a class="nav-link" routerLink="/addclient">生徒用アカウント追加</a>
              <a class="nav-link" href="">生徒用アカウント一覧</a>
              <a class="nav-link" routerLink="/addadmin" >管理者用アカウント追加</a>
              <a class="nav-link" href="">管理用アカウント一覧</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button"
               data-toggle="dropdown" id="#subjectlist" aria-haspopup="true"
               aria-expanded="false" >教科</a>
            <div class="dropdown-menu" aria-labelledby="subjectlist">
              <a class="nav-link" routerLink="/listsubject">登録一覧</a>
              <a class="nav-link" routerLink="/setsubject">新規登録</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <input type="button" value="ログアウト" class="btn btn-primary" (click)="logoutclick()"/>
          </li>
        </ul>
  </div>
</nav>
