<div class="header">
  <app-header></app-header>
</div>
<div class="middle">
  <form class="card ">
    <div class="card-header">
      <span>ユーザプロフィール</span>
      <div>
        画像挿入予定
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <tr>
          <th>名前:</th>
          <td></td>
        </tr>
        <tr>
          <th>年齢</th>
          <td></td>
        </tr>
        <tr>
          <th>ノート投稿数</th>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="card-footer">
      <input type="submit" class="btn btn-default"  value="編集"/>
    </div>
  </form>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
