.header{
  height: 8%;
}
.middle{
  height:80%;
  overflow: scroll;
}
.footer{
  height: 12%;
}
.card{
  height: 100%;
  width: 100%;
}
.card-header{
  height: 10%;
}
.card-body{
  height: 80%;
}
.card-footer{
  height: 10%;
}
