.header{
  height: 10%;
}
.middle{
  height:78%;
  overflow: auto;
}
.footer{
  height: 12%;
}
/*.card{
  height: 100%;
  width: 100%;
}
.card-header{
  height: 10%;
}
.card-body{
  height: 80%;
}
.card-footer{
  height: 10%;
}
*/
img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.playbtn{
  text-align: right;
  float: right;
}
.commentheader{
  text-align: left;
}
