<div class="header">
  <app-header></app-header>
</div>
<div class="middle card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <qr-scanner [debug]="false"
                [canvasWidth]="1000" [canvasHeight]="300"
                [stopAfterScan]="true" [updateTime]="500">

    </qr-scanner>
  </div>

  <div clas="card-footer">
    <input *ngIf="listcount > 1" type="buttton" class="btn btn-default"  value="カメラ切替" (click)="changeCamera()" />
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
