<div class="menu">
  <ul>
    <li>
      <a href="/home"><img class="iconimg" src="../../../../assets/icon/homeiconwhite.png" /></a>
    </li>
    <li>
      <a href="/selectnoteope"><img class="iconimg" src="../../../../assets/icon/noteiconwhite.png" /></a>
    </li>
    <li>
      <a href="/userprofile"><img class="iconimg" src="../../../../assets/icon/usericonwhite.png" /></a>
    </li>
    <li>
      <a href="/groupoperation"><img class="iconimg" src="../../../../assets/icon/groupiconwhite.png" /></a>
    </li>

  </ul>
</div>
