<div class="header">
  <app-header></app-header>
</div>
<div class="middle ">
  <div class="card">
    <div class="card-header">
      説明文など
      <br/>
      <br/>
    </div>
    <table class="table card-body">
      <tbody>
        <tr>
          <td><input type="button" class="btn subbtn" value="教科1" (click)="accesslistnote('dsfnjkdsa')"/></td>
          <td><input type="button" class="btn subbtn" value="教科2" /></td>
          <td><input type="button" class="btn subbtn" value="教科3" /></td>
        </tr>
        <tr>
          <td><input type="button" class="btn subbtn" value="教科4" /></td>
          <td><input type="button" class="btn subbtn" value="教科5" /></td>
          <td><input type="button" class="btn subbtn" value="教科6" /></td>
        </tr>
        <tr>
          <td><input type="button" class="btn subbtn" value="教科4" /></td>
          <td><input type="button" class="btn subbtn" value="教科5" /></td>
          <td><input type="button" class="btn subbtn" value="教科6" /></td>
        </tr>

      </tbody>
    </table>
    <div class="card-footer">
      <input type="button" class="btn " value="<" />
      <span>｜</span>
      <input type="button" class="btn" value=">" />
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
