.header{
  height: 8%;
}
.middle{
  height:80%;
  overflow: scroll;
}
.footer{
  height: 12%;
}
.subbtn{
  padding: 0;
  width: 100%;
  height:100%;
}
.card{
  height: 100%;
}
.card-body{
  height: 20%;
}
.card-body{
  height: 75%;
}
.card-footer{
  height: 10%;
}
.card-footer{
  text-align: center;
}
a.subbtn{
  text-align: center;

}
input.btn.subbtn{
  color: white;
  font-size: 130%;
}
