<form class="card"  #form="ngForm" (ngSubmit)="loginclick()">
  <div class="card-header">
    管理者用ログイン画面
  </div>
  <table class="card-body" >
    <tr>
      <th>メールアドレス</th>
      <td>
        <input type="email" [(ngModel)]="userlogin.email"
                 name="email" required minlength="3" #email="ngModel" />
        <br/>
        <span [hidden]="!email.errors?.required">入力必須です。</span>
        <span [hidden]="!email.errors?.minlength">3文字以上入力してください。</span>
      </td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>
        <input type="password" [(ngModel)]="userlogin.password"
                 name="password" required minlength="3" #password="ngModel"/>
        <br/>
        <span [hidden]="!password.errors?.required">パスワードは必須です。</span>
        <span [hidden]="!password.errors?.minlength">3文字以上入力してください。</span>
      </td>
    </tr>
  </table>
  <div class="card-footer">
    <span>{{resultresponce}}</span>
    <input type="submit" [disabled]="form.invalid" class="btn btn-primary" value="ログイン"  />
  </div>
</form>
