.header{
  height: 10%;
}
.middle{
  height: 80%;
  overflow: scroll;
}
.footer{
  height: 10%;
}
.card{
  height: 100%;
}
.card-footer{
  height: 10%;
}
.card-header{
  height: 10%;
}
.card-body{
  height: 80%;
  min-height: 80%;
}
